<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- Logged in -->
        <% if (username) { %>
          <a class="nav-item nav-link"> Logged in as: <%= username %> </a>
          <a class="nav-item nav-link">
            <form  action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-primary">logout</button>
            </form>
          </a>
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% } else { %>
        <!-- Not logged in -->
          <a class="nav-item nav-link">
            <form  action="/login" method="get">
              <div>
                <button type="submit" class="btn btn-primary">login</button>
              </div>
            </form>
          </a>
          <a class="nav-item nav-link">
            <form  action="/register" method="get">
              <div>
                 <button type="submit" class="btn btn-primary">register</button>
              </div>
            </form>
          </a>
        <% }%>
      </div>
    </div>
  </nav>
</header>